.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  /* height: 150px;
  width: 350px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.popup {
  width: 450px;
  padding: 20px;
  border: 1px solid #e67e22;
  border-radius: 10px;
  color: #e67e22;
  background: white;
  position: absolute;
  box-shadow: 5px 5px 5px #000;
  z-index: 11;
  font-weight: 700;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-btn {
  color: white;
  font-weight: 700;
  height: 30px;
  width: 30%;
  margin: 20px;
  cursor: pointer;
}

.dialog-btn.btn-primary {
  background: #44b78b;
}

.dialog-btn.btn-cancel {
  background: #e74c3c;
}

#TodoContainer .dialog-btn.btn-primary:hover {
  background-color: #015249;
}

#TodoContainer .dialog-btn.btn-cancel:hover {
  background-color: #74261e;
}
